.label-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-container-attendee {
  display: flex;
  padding: 2rem 1.5rem;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 1.5rem;
  border: 1px solid #0e464f;
  background: #041e23;
}

.phase-name.attendee-details {
  font-size: 1.2rem;
}
.step-number-attendee {
  font-size: 0.8rem;
}

.line-attendee {
  grid-column: span 2;
}

.attendee-details-label {
  margin-bottom: 0.5rem;
}
.main-container-attendee-header {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
.error-msg {
  margin-top: 0.5rem;
  color: red;
  opacity: 0.7;
}

/* .attendee-details-main {
  display: flex;
  padding: 1.5rem 1.5rem 3rem 1.5rem;
  flex-direction: column;
  gap: 2rem;
  border-radius: 1.5rem;
  border: 1px solid #07373f;
  background: #052228;
} */

.attendee-details-label,
#attendee-details-input {
  color: var(--color-grey-98, #fafafa);
  display: block;
  font-family: Roboto;
  font-size: 1rem;
  line-height: 150%; /* 1.5rem */
}
#attendee-details-input {
  width: 100%;
  box-sizing: border-box;
  padding: var(--Radius-reg-2, 0.75rem);
  border-radius: var(--Radius-reg-2, 0.75rem);
  border: 1px solid #07373f;
  background-color: transparent;
}

@media (min-width: 768px) {
  .main-container-attendee {
    width: 70%;
    align-self: center;
  }
}
