.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 1.5rem;
  padding: 2rem 1rem;
}
.main-container {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 2rem;
  border-radius: 2rem;
  border: 1px solid #0e464f;
  background: #08252b;
}
.select-ticket,
.ticket-no-select-label {
  color: var(--color-grey-98, #fafafa);
  font-size: 1rem;
  font-family: Roboto;
  line-height: 150%; /* 1.5rem */
}
.ticket-option-container {
  margin-top: 0.5rem;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 1.5rem;
  border: 1px solid #07373f;
  background: #052228;
}
#ticket-no-select {
  background-color: transparent;
  width: 100%;
  color: var(--off-white);
  padding: var(--Radius-reg-2, 0.75rem);
  border-radius: var(--Radius-reg-2, 0.75rem);
  border: 1px solid #07373f;
}
.ticket-no-select-label {
  margin: 0.5rem 0;
  display: block;
}

.main-container-header {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.phase-name {
  color: #fff;
  font-family: JejuMyeongjo;
  font-size: 1.5rem;
}
.step-number {
  color: var(--color-grey-98, #fafafa);
  font-family: Roboto;
}
.btn {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #0e464f;
  color: white;
  font-family: JejuMyeongjo;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filled,
.unfilled:active {
  background: var(--teal);
}
.unfilled,
.filled:active {
  background-color: transparent;
  color: var(--teal);
}
.btn:disabled {
  background-color: dimgrey;
  color: linen;
  opacity: 1;
  cursor: not-allowed;
}
@media (min-width: 765px) {
  .main-container {
    align-self: center;
    width: 70%;
  }
  .ticket-option-container {
    flex-direction: row;
  }
  .ticket-option-container > * {
    flex-grow: 1;
  }
  .btn-container {
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
    border-radius: 1.5rem;
    background: transparent;
  }
}
