.navbar {
  border-radius: 0.75rem;
  border: 1px solid #197686;
  background: rgba(5, 37, 44, 0.4);
  backdrop-filter: blur(2px);
  display: flex;
  padding: 0.75rem 1rem;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: none;
}

.show-tickets-div {
  display: flex;
  padding: 0.75rem 0.8rem;
  gap: 0.5rem;
  border-radius: 0.75rem;
  border: 1px solid rgba(213, 234, 0, 0.1);
  background: #fff;
}

.right-arrow {
  display: inline-block;
  width: 0.9rem;
}

.show-tickets-btn {
  display: inline-block;
  background: transparent;
  border: none;
  color: #0a0c11;
  font-family: JejuMyeongjo;
  font-size: 0.675rem;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .links {
    display: flex;
    gap: 3rem;
  }
  .links p {
    color: #fff;

    font-family: JejuMyeongjo;
    font-size: 1.125rem;
    font-weight: 400;
  }
}
