.photo-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 1.5rem 3rem 1.5rem;
  border-radius: 1.5rem;
  border: 1px solid #07373f;
  background-color: #052228;
}

.upload-container {
  align-self: center;
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 2rem;
  border: 4px solid rgba(36, 160, 181, 0.5);
  background: #0e464f;
  width: 15rem;
  height: 15rem;
}
.img-preview {
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  border-radius: 2rem;
  position: relative;
  z-index: 5;
}
.img-preview:hover {
  opacity: 0.7;
}

.upload-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 12.5rem;
}

.upload-instructions {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.remove-img {
  position: absolute;
  top: 1rem;
  right: 1rem;
  text-align: right;
  font-size: 0.5rem;
  font-weight: 100;
}
.remove-img:hover {
}

@media (min-width: 1024px) {
  .upload-box {
    background: rgba(0, 0, 0, 0.2);
  }
  .upload-container {
  }
}
