@import url("https://fonts.googleapis.com/css2?family=Road+Rage&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
#root {
  --color-grey-98: #fafafa;
  --dark-blue: #07373f;
  --teal: #24a0b5;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: JejuMyeongjo, sans-serif;
  line-height: 1.5;
  background: #02191d;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
